@page "/"

@using Chijimu.UI.Services

@inject ChijimuApiService ChijimuApiService

<h1>CHIJIMU</h1>
<h2>Link shortener</h2>
<div>
    <span>
        Please enter a URL:
    </span>
    <input type="text"
           @bind-value="@_enteredUrl" />
    <button disabled="@string.IsNullOrEmpty(_enteredUrl)"
            @onclick="OnShortenButtonClick">
        Shorten
    </button>
</div>
@if (!string.IsNullOrEmpty(_shortenedUrl))
{
    <div>
        <span>
            The shortened URL is: <b>@_shortenedUrl</b>
        </span>
    </div>
}

@code
{
    private string? _enteredUrl;
    private string? _shortenedUrl;

    private async Task<string?> GetShortenedUrl(string enteredUrl)
    {
        HttpResponseMessage response = await ChijimuApiService.ShortenUrlAsync(enteredUrl);

        string shortenedUrl;

        if (response.IsSuccessStatusCode)
        {
            shortenedUrl = await response.Content.ReadAsStringAsync();
        }
        else
        {
            shortenedUrl = string.Empty;
        }

        return shortenedUrl;
    }

    private async Task OnShortenButtonClick()
    {
        if (!string.IsNullOrWhiteSpace(_enteredUrl))
        {
            _shortenedUrl = await GetShortenedUrl(_enteredUrl);
        }
    }
}